#container-head {
    border-bottom:solid 1px #BFD0E0;
    margin-bottom:15px;
}

.Head, H1 {
	padding: 15px 2px 2px 2px;
	font-family: Trebuchet, arial, sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: left;
	color: DimGray;
}

H2 {
	padding: 15px 2px 2px 2px;
	font-family: Trebuchet, arial, sans-serif;
	font-size: medium;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	color: DimGray;
}











